

<div class="container">
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4"><%= link_to "HR Dashboard", api_v1_teams_path %></h5>
    <h5 class="text-white h4"><%= link_to "Employee Dashboard", api_v1_employees_path %></h5>

  </div>
</div>
  <nav class="navbar navbar-dark sticky-top bg-dark">
    <div class="container">
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <span class="navbar-brand mb-0 h1">
     <h1>Lets Get To Know Each Other</h1>
    </span>
    </div>
  </nav>
</div>