<nav class="navbar bg-light">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button"><%= link_to 'Enter Availability' , enter_availability_api_v1_employees_path	%></button>
    <button class="btn btn-outline-success me-2" type="button"><%= link_to 'Show All My Blind Dates', employee_blind_date_api_v1_blind_dates_path  %></button>
    <button class="btn btn-outline-success me-2" type="button"><%= link_to 'Show My Current Team', get_my_team_api_v1_teams_path  %></button>

  </form>
</nav>